[mysqld]

user				= mysql
port 				=  3306
bind-address		= 0.0.0.0
tmpdir				= /tmp
basedir				= /usr
datadir				= /var/lib/mysql
pid-file			= /run/mysqld/mysqld.pid
socket				= /run/mysqld/mysqld.sock
log-bin 			= /var/log/mysql/mysql-bin.log
lc-messages-dir		= /usr/share/mysql
log-basename		= mysqld
lc-messages			= en_US
skip-networking		= false
skip-name-resolve
general-log
log-slow-queries
expire_logs_days	= 10
